.cabecalho__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.cabecalho__pesquisar__item {
    display: none;
}

.rodape__container {
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap;
    essas duas props dão no mesmo que a abaixo */
    flex-flow: column wrap;
}

.superior__secao__container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    gap: 15px;
}

.menu__container {
    position: fixed;
    bottom: 0%;
    height: 74px;
    width: 100%;

}

.menu__lista {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.menu__lista li {
    align-self: center;
}

/* suponha que temos 4 menus lista e só queremos exibir no mobile o primeiro,
o método nth-child() recebe o index do menu lista que vc deseja modificar no css e atribui
as modificações a ele, logo no mobile temos que os menus 2, 3 e 4 não aparecem. */
.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
    display: none;
}

.menu__itens {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.superior__secao__container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    gap: 15px;
}


@media (min-width: 834px) {
    .cabecalho__pesquisar__item {
        display: block;
    }

    .rodape__container {
        justify-content: space-between;
    }
    .menu__lista {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 15px;
        gap: 33px;
    }

    .menu__container {
        left: 0;
        height: auto;
        width: 74px;
        top: 80px;
    }

}
